*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--bs-light);
}

body{
  background-image: url('../../public/bg/Leonardo_Diffusion_XL_create_a_representation_of_a_backend_pro_0.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}